//Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mukta:wght@200;400;700&display=swap');

//Globales
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

//Variables
$blue-dark: #0A1931;
$blue-light: #185ADB;
$Yellow-light: #FFC947;
$gray-light: #EFEFEF;
$white-basic: #ffffff;

.header__container {
    display: flex;
    background-color: $blue-dark;
    color: $white-basic;
    width: 100%;
    height: 100px;
    
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 50px;
        padding: 10px;
        margin: auto;
    }
}